/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

root {
    --list-item-hover-color: #ccc;
    --very-light-red: #FF7F7F;
    --very-light-green: #90EE90;
}

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}

#NewTableList {
    /*    max-height: 800px;*/
    height: 200px;
    overflow-y: auto;
}

    #NewTableList .list-group-item:hover {
        cursor: pointer;
        background: var(--secondary);
    }

.open-table-label {
    font-size: 30px;
}

.bg-light-red {
    background: #FF7F7F;
}

.bg-light-green {
    background: #90EE90;
}

.cursor-pointer:hover {
    cursor: pointer;
}

.table-title {
    font-size: 2.5rem;
}

.order-title {
    font-size: 1.3rem;
}

.order-list-item {
    font-size: 1.2rem;
}

.product-title {
    font-size: 1.5rem;
}

.product-list {
    margin-top: 10px;
}

.product-list-title {
    font-size: 1.2rem;
}

hr {
    height: 2px;
    background-color: var(--success);
    border: none;
}

.btn {
    border-radius: 10px !important;
}

.bg-none {
    background:none;
}

.clickable-curser:hover {
    cursor: pointer
}