@model TableViewModel

@{
    ViewData["Title"] = "Table " + Model.Name;
}

<h1>
    Table @Model.Name
</h1>

<div>
    <h4>
    </h4>
    <hr />
</div>
<div>
    <a class="btn btn-danger" asp-action="CloseTable" asp-route-id="@Model.Id">Close Table</a>
    <a asp-controller="Home" asp-action="Index">Back to List</a>
</div>
